{%extends 'base.html' %}
{% block title%}Feedback Page{%endblock%}
{% block content %}

    <h1 class="text-center">Feedback</h1>
        <div class="container">
        <p class="lead">Give Feedback</p>
       
        <form method="POST">
            {{ form.hidden_tag() }}
    
            {% for field in form 
                if field.widget.input_type != 'hidden'%}
            <p>
                {{ field.label }}
                {{ field(class_="form-control") }}
    
                {% for error in field.errors %}
                <span class="form-text text-danger"> {{ error }} </span>
                {% endfor %}
            </p>
            {% endfor %}
    
            <button class="btn btn-success" type="submit">Submit</button>
        </form>

           <ul>
            {% for fback in feedback %}
                <li><b>{{fback.user.username}}-</b> {{fback.title}}-{{fback.content}}
                {% if session['user_id'] == fback.username %}   
                    <form style="display: inline" action = "/secret/{{fback.id}}", method="POST">
                        <button class="btn btn-sm btn-danger">X</button>
                    </form>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>

   

{% endblock %}